
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/app/css/FOSUserBundle/signin.css') }}" rel="stylesheet">
</head>

<body class="text-center">
{% trans_default_domain 'FOSUserBundle' %}



<form class="form-signin" action="{{ path('fos_user_security_check') }}" method="post">
  
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Email address</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email address" required autofocus autocomplete="username">

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password"  name="_password" class="form-control" placeholder="Password" required autocomplete="current-password">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox"  id="remember_me" name="_remember_me" value="on"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>
